<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryb.songflow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ryb.songflow.search.SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ryb.songflow.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ryb.songflow.search.SearchActivity" />
        </activity>

        <provider
            android:name="com.ryb.songflow.search.SpotifySearchSuggestionProvider"
            android:authorities="com.ryb.songflow.search.SpotifySearchSuggestionProvider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.ryb.songflow.mylist.MyListActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
    </application>

</manifest>